body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
a {
  text-decoration: none;
}

a:hover {
  color: #404bbf;
}
a:focus {
  color: #404bbf;
}
img {
  display: block;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  /* width: 1158px;
  padding: 0 15px;
  margin: 0 auto; */
  max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-all {
  display: flex;
  align-items: center;
}

.navigation {
  /* display: flex;
  gap: 40px; */
  display: none;
  
}
.nav-link-current{
  position: relative; 
  color: #404bbf;
  display: block; 
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-current::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 2px;
  background-color: #404BBF;
  bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */
  padding: 17px 0;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.contacts {
  /* display: flex;
  margin-left: auto; */
  display: none;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.nav-link-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-btn{
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero {
  background-color: #2e2f42;
  /* padding: 188px 0 188px 0; */
  padding: 72px 0;
  /* background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* max-width: 1440px;
  height: 600px; */
  max-width: 320px;
    height: 423px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-hero-bg-1.jpg);
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .hero{ background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-hero-bg-2.jpg);

  }
}

.hero-text {
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  display: block;
  /* margin-top: 188px;
  max-width: 496px; */
  
  margin: auto;
  max-width: 216px;
  height: 160px;
}

.hero-button {
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;

  /* margin-top: 48px; */
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 72px;
}

.features-section {
  padding: 120px 0;
}
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  
  /* gap: 24px; */
}

.features {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  
  
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.features > h3 {
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  
}
.feature-icons{
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px; */
  display: none;
}



.feature-name {
  display: block;
}

.features > p {
    font-weight: 500;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  margin: auto;
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}
.our-team-text {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-bottom: 72px;
}
.div-name {
  padding: 32px 0;
  text-align: center;
}

.teammate-name {
  text-align: center;
  margin-bottom: 8px;
}
.teammate-role {
  text-align: center;
}

.teammates {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); 
  
  display: block;
  
}

.teammates > h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.teammates > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.soc-net-link{
  list-style-type: none;
  display: flex;
  
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  align-items: center;
 justify-content: center;
 border-radius: 50%;
 
}

.soc-net-link-all{
  display: flex;
  gap: 24px;
  justify-content: center;
}

.link-soc{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
 justify-content: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-soc:hover{background-color: #404bbf;}
.link-soc:focus{background-color: #404bbf;}

.our-portfolio-section {
  padding: 120px 0 120px 0;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio {
  width: calc((100% - 48px) / 3);
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.div-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-list {
  margin-bottom: 8px;
}
.our-portfolio-text {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-portfolio > h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.cover-div{
  position: relative;
  overflow: hidden;
}

.moving-text{
  position: absolute;
  top: 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
background-color: #4D5AE5;
height: 100%;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio:hover .moving-text{
  transform: translateY(0);
  
}

button {
  cursor: pointer;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
  align-items: baseline;
}
.footer-container {
  align-items: baseline;
  margin-right: 120px;
}
  .footer-div{
    display: flex;
    align-items: baseline;
    
  }

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;

  display: inline-block;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  
  box-sizing: border-box;
  max-width: 264px;

  display: block;
}

.soc-media-footer {
  color: #FFFFFF;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px

}
.soc-media-div{
  margin-right: 80px;
}
.soc-net-link-footer{
  display: flex;
  gap: 16px;
}

.soc-net-link-f {
  width: 40px;
  height: 40px;
  gap: 16px;

}
.social-icon{
  fill: #f4f4fd;
}
.socials{
  display: flex;
  align-items: center;
  justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

}

.socials:hover{ background-color: #31d0aa}
.socials:focus{background-color: #31d0aa;}



.text-subs{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-form{
  display: flex;
  gap: 24px;
}
.footer-input{
  border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      font-weight: 400;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #ffffff;
      background-color: transparent;
      padding-left: 16px;
}

.submit-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
      padding: 8px 24px;
      min-width: 165px;
      height: 40px;
      background-color: #4D5AE5;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
}

.icon-submit{
  margin-left: 16px;
  fill: #ffffff;

}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FCFCFC;
  transform: translate(-50%, -50%) scale(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

padding: 72px 24px 24px 24px; 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover {
background-color: #404BBF;
border: none;
}

.modal-close-btn:focus{
background-color: #404BBF;
border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon{
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
  margin-bottom: 16px;
}




.btn-send{
  border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #ffffff;
display: block;
margin-bottom: 24px;
margin: 0 auto;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field{
  margin-bottom: 8px;
  
}

.modal-input{
  width: 100%;
border-radius: 4px;
width: 360px;
height: 40px;
background-color: transparent;

padding-left: 38px ;
border: 1px solid rgba(46, 47, 66, 0.4);
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus{
  border-color: #4D5AE5;
}
.modal-field-wrap{
  position: relative;
}

.modal-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal-input:focus + .modal-icon{
  fill: #4D5AE5;
}

.modal-label{
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;

}

.modal-comment{
  margin-bottom: 16px;
}

.textarea-comment{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea-comment:focus{
  border-color: #4D5AE5; 
}

.modal-text-policy{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    
    align-items: center;
    
}
.modal-cb{
  margin-bottom: 24px;
}



.check-span{
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: inline-flex;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-check:checked+.modal-text-policy>.check-span {
  background-color: #404BBF;
  fill: #F4F4FD;
  border: none;
  
}

.check-icon{

display: inline-flex;

}

.link-policy{
  color: #4d5ae5;
  display: inline-flex;
}


@media screen and (max-width: 320px){

}


@media screen and (min-width: 768px) and (max-width: 1157px) {
  .navigation{
    display: flex;
    gap: 40px;
  }
  .open-btn{
    display: none;
  }
  .contacts{
    display: block;
    font-size: 12px;
    line-height: 1.16;
  }
  .contacts-list{
    display: flex;
      flex-direction: column;
      gap: 12px;
  }
  .header-logo{
    margin-right: 120px;
  }

    .hero{
      padding: 112px 0px;
      max-width: 768px;
        height: 436px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tab-hero-bg-1.jpg);
    }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
          .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tab-hero-bg-2.jpg);
           margin-bottom: 96px;
          }}

        .hero-text{
            font-size: 56px;
            line-height: 1.07;
            max-width: 496px;
        }

     .hero-button{
      margin-top: 36px;
     }
  

  .features-section{
    padding: 0 16px;
  }

  .container {
      max-width: 768px;
    }

  .feature-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-content: space-between;
    }
        .features>h3 {
      text-align: left;
    }
  .features{
    position: relative;
    flex-basis: calc((100% - 24px) / 2);
  }
  
}

@media screen and (min-width: 1158px) {
  .header-logo{
    margin-right: 76px;
  }
    .contacts {
      display: block;
      font-size: 12px;
      line-height: 1.16;
    }

    .navigation {
      display: flex;
      gap: 40px;
    }
  
    .open-btn {
      display: none;
    }

    .contacts-list{
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
    .nav-link-contacts{
      font-size: 16px;
      line-height: 1.5;
    }

  .container {
     max-width: 1158px;
    padding-left: 15px;
      padding-right: 15px;
  }

  .hero{
    padding: 188px 0 188px 0;
    max-width: 1440px;
      height: 600px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);

  }
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2.jpg);

  }}

    .hero-text{
        max-width: 496px;
        font-size: 56px;
    }
        .hero-button{
          margin-top: 48px;
        }

.feature-list{
  flex-direction: row;
  gap: 24px;
}
.feature-icons{
  display: contents;
  display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.features {
   width: calc((100% - 72px) / 4); 
}
.features>h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; 
}
.features>p {
  font-weight: 400;
}
}